.etsegBody {
    display: flex;
    justify-content: center;
    padding: 100px;
  }
  .body {
    width: 377px;
    height: 290px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }