.etsegBody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background: #d3dae6;
    height: 100vh;
  }
  .body {
    background: #d3dae6;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #b8bfc9, -10px -10px 20px #eef1f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .headerText {
    margin-bottom: 20px;
    color: #333;
  }
